In [1]:
import pandas as pd
import numpy as np
np.random.seed(10)

df=pd.read_csv("1429_1.csv")

C:\Users\Ranti\ranti_anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df=df[["reviews.text","reviews.doRecommend"]]

In [3]:
df=df.dropna()
df.head()

                                        reviews.text reviews.doRecommend
0  This product so far has not disappointed. My c...                True
1  great for beginner or experienced person. Boug...                True
2  Inexpensive tablet for him to use and learn on...                True
3  I've had my Fire HD 8 two weeks now and I love...                True
4  I bought this for my grand daughter when she c...                True

In [4]:
df.shape

(34066, 2)

In [5]:
df_true=df[df["reviews.doRecommend"]==True]
df_false=df[df["reviews.doRecommend"]==False]

In [6]:
print(df_true.shape)
print(df_false.shape)

(32682, 2)
(1384, 2)

In [7]:
remove_n = 35000

drop_indices = np.random.choice(df_true.index, remove_n, replace=True)
df_true= df_true.drop(drop_indices)

frames = [df_true, df_false]

result = pd.concat(frames)

result= result.sample(frac=1).reset_index(drop=True)

In [8]:
result.shape

(12554, 2)

In [10]:
result.to_csv('modified_data.csv')